<%- include ('partials/_header'); %>
<%- include ('partials/_navMenu'); %>
<%- include ('partials/_bodyUpper'); %>	
<div id="content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa fa-fw fa-list-ul"></i> 
					Configuracion 
				<span>> 
					Agregar Categorias
				</span>
			</h1>
		</div>
    </div>
    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
		<% if ( typeof categoria !== 'undefined' ) { %> 

		<div class="alert alert-danger alert-block">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">Error!</h4>
			   <%=	(typeof err !== 'undefined' ? err : '' ) %>
			</div> 

		<% } %>
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Complete el formulario </h2>				
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="addUser-form" class="smart-form" novalidate="novalidate" method="POST" autocomplete="off">
                                <fieldset>
                                    <section>
					<label>Cod. Categoria:</label>
                                        <label class="input">
                                            <input type="text" name="cate_codigo" placeholder="Ej: 5" value="<%= (typeof categoria !== 'undefined' ? categoria.cate_codigo : '' ) %>">
                                            <b class="tooltip tooltip-bottom-right">Ingrese el codigo de Categoria</b> </label>
                                    </section>
                                    <section>
					<label>Descripcion:</label>
                                        <label class="input">
                                            <input type="text" name="cate_descripcion" placeholder="Descripcion" value="<%= (typeof categoria !== 'undefined' ? categoria.cate_descripcion : '' ) %>">
                                            <b class="tooltip tooltip-bottom-right">Ingrese su Descripcion</b> </label>
                                    </section>

                                    <div class="row">
                                        <section class="col col-8">
											<label>Categoria Padre:</label>
											<select name="cate_codigo_padre" class="select2">
												<option value="">Ninguna</option>
												<% for(var i =0; i < categorias.length; i++){ %>
														<option value="<%= categorias[i].cate_codigo %>" <%= (typeof categoria !== 'undefined' && categoria.cate_codigo_padre==categorias[i].cate_codigo) ? 'selected=""': '' %>><%= categorias[i].cate_codigo %> - <%= categorias[i].cate_descripcion %></option>	
												<% } %>
											</select> <i></i>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Agregar
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


</div>
<%- include ('partials/_bodyBottom'); %>	

<script src="/js/plugin/jquery-form/jquery-form.min.js"></script>
<script src="/js/plugin/select2/select2.min.js"></script>

<script>
	$(document).ready(function() {

		pageSetUp();
        var errorClass = 'invalid';
			var errorElement = 'em';
			
			var $addUserForm = $('#addUser-form').validate({
				errorClass		: errorClass,
				errorElement	: errorElement,
				highlight: function(element) {
			        $(element).parent().removeClass('state-success').addClass("state-error");
			        $(element).removeClass('valid');
			    },
			    unhighlight: function(element) {
			        $(element).parent().removeClass("state-error").addClass('state-success');
			        $(element).addClass('valid');
			    },

			// Rules for form validation
				rules : {
					cate_codigo : {
						required : true
					},
					cate_descripcion : {
						required : true
					}
				},
		
				messages : {
					cate_codigo : {
						required : 'Por favor ingrese el usuario'
					},
					cate_descripcion : {
						required : 'Por favor escriba un nombre'
					}
				},
		
				// Do not change code below
				errorPlacement : function(error, element) {
					error.insertAfter(element.parent());
				}
			});

			$("[name='cate_codigo']").focus();
	});
	
</script>
<%- include ('partials/_footer'); %>
