<%- include ('partials/_header'); %>
<%- include ('partials/_navMenu'); %>
<%- include ('partials/_bodyUpper'); %>	
<div id="content">
	
</div>
<%- include ('partials/_bodyBottom'); %>		
<script>
	$(document).ready(function() {
		pageSetUp();
	});
</script>
<%- include ('partials/_footer'); %>