<%- include ('partials/_header'); %>
<%- include ('partials/_navMenu'); %>
<%- include ('partials/_bodyUpper'); %>	
<div id="content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa fa-fw fa-user"></i> 
					Configuracion 
				<span>> 
					Borrar Pagina
				</span>
			</h1>
		</div>
    </div>
    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Detalles de la pagina </h2>				
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="deletePage-form" class="smart-form" novalidate="novalidate" method="POST">
                                <fieldset>
                                    <section>
                                        <label class="input">
                                            <input type="text" name="pagi_codigo" placeholder="Categoria" value="<%= pagina.pagi_codigo %>" readonly>
                                            <b class="tooltip tooltip-bottom-right">Ingrese su pagina</b> </label>
                                    </section>
                                    <section>
                                        <label class="input">
                                            <input type="text" name="pagi_descripcion" placeholder="Descripcion completo" value="<%= pagina.pagi_descripcion %>" readonly>
                                            <b class="tooltip tooltip-bottom-right">Ingrese su Descripcion</b> </label>
                                    </section>

                                    <section>
                                        <label class="input">
                                            <input type="number" name="pagi_orden" placeholder="Orden" value="<%= pagina.pagi_orden %>" readonly>
                                            <b class="tooltip tooltip-bottom-right">Ingrese el Nro. de Orden</b> </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-danger">
                                        Borrar
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<%- include ('partials/_bodyBottom'); %>	

<script src="/js/plugin/jquery-form/jquery-form.min.js"></script>
<script src="/js/plugin/select2/select2.min.js"></script>

<script>
	$(document).ready(function() {
	
	
		pageSetUp();
        var errorClass = 'invalid';
			var errorElement = 'em';
			
			var $editPageForm = $('#deletePage-form').validate({
				errorClass	: errorClass,
				errorElement	: errorElement,
				highlight: function(element) {
			        $(element).parent().removeClass('state-success').addClass("state-error");
			        $(element).removeClass('valid');
			    },
			    unhighlight: function(element) {
			        $(element).parent().removeClass("state-error").addClass('state-success');
			        $(element).addClass('valid');
			    },

			// Rules for form validation
				rules : {
					pagi_codigo : {
						number: true,
						required : true
					},
					pagi_descripcion : {
						required : true
					},
					pagi_orden : {
						number: true,
						required : true
					}
				},
		
				messages : {
					pagi_codigo : {
						required : 'Por favor ingrese el Cod. de la pagina',
						number: 'Solo estan permitidos numeros'
					},
					pagi_descripcion : {
						required : 'Por favor escriba un nombre'
					},
					pagi_orden : {
						number: 'Solo estan permitidos numeros',
						required : 'Por favor ingrese el Nro. de Orden'
					}
				},
		
				// Do not change code below
				errorPlacement : function(error, element) {
					error.insertAfter(element.parent());
				}
			});
		
	
	});
	
</script>
<%- include ('partials/_footer'); %>
