<!DOCTYPE html>
<html lang="es">
	  <%- include ('partials/public/_header'); %>
	  <!-- ========== MAIN CONTENT ========== -->
	  <main id="content" role="main">
		
		<div class="bg-primary">
			<div class="container space-1">
				<div class="row">
					<div class="col-lg-5 mb-4 mb-lg-0">
					  <!-- Input -->
					  <label class="d-block">
						<span class="h4 d-block text-white font-weight-semi-bold mb-0">Qu&eacute;</span>
					  </label>
					  <div class="js-focus-state">
						<div class="input-group">
						  <input type="text" class="form-control" id="valorBuscado" placeholder="Palabras clave o títulos" aria-label="Palabras clave o títulos" aria-describedby="keywordInputAddon">
						  <div class="input-group-append">
							<span class="input-group-text">
							  <span class="fas fa-search" id="keywordInputAddon"></span>
							</span>
						  </div>
						</div>
					  </div>
					  <!-- End Input -->
					</div>

					<div class="col-lg-5 mb-4 mb-lg-0">
					  <!-- Input -->
					  <label class="d-block">
						<span class="h4 d-block text-white font-weight-semi-bold mb-0">d&oacute;nde</span>
					  </label>
					  <div class="js-focus-state">
						<div class="input-group">
						  <select class="form-control select2" id="tipoBusqueda">
							<option value="todo">Todo</option>
							<option value="titulo">Titulo y por palabra dentro de la Norma</option>
							<option value="numero">Nro de norma</option>
							<option value="nombre">Nombre Popular</option>
							<option value="anho">Por año de Promulagación</option>
						  </select>
						</div>
					  </div>
					  <!-- End Input -->
					</div>

					<div class="col-lg-2 align-self-lg-end">
						<a class="btn btn-sm btn-soft-white transition-3d-hover" id="btnBuscar" href="#">
							<span class="fas fa-search small mr-2"></span>
							Buscar
						  </a>
					</div>
				  </div>
			</div>
		</div>

		<div class="bg-light">
			<div class="container space-2">
			  <div class="row">
				<div class="col-lg-3 mb-7 mb-lg-0">
	 
				  <!-- Categorias  -->
				  <div class="card mb-4" >
					<div class="card-header pt-4 pb-3 px-0 mx-4">
					  <h2 class="h6 mb-0">Categor&iacute;as</h2>
					</div>
	  
					<div class="card-body pt-3 pb-4 px-4">
					<% 
					if ( typeof categoriasNivel1 != 'undefined' ) { 
						for(var i =0; i < categoriasNivel1.length; i++){ %>
							<a class="d-flex align-items-start mb-4" style="margin-bottom: 0 !important;" href="/digesto/laws/categories/<%= categoriasNivel1[i].cate_codigo %>" target="_self">
								<div class="ml-3">
								<span class="d-block text-dark"> <%= categoriasNivel1[i].cate_codigo %>. <%= categoriasNivel1[i].cate_descripcion %>.</span>
								</div>
							</a>
					<% 
							 }
					} %>

					</div>
				  </div>
				  <!-- End Categorias -->
				</div>
			  <!-- Resultados -->

			<div class="card w-lg-75 mx-lg-auto mb-7">
				<h1 class="h3 font-weight-semi-bold ml-3 mt-3"> <%= pagina[0].pagi_descripcion %> </h1>
			<% 

				for(var i=0; i < publicaciones.length; i++) {
			%>	
			
				<a class="card card-text-dark transition-3d-hover p-4 m-1" href="/digesto/pages/details/<%= publicaciones[i]._id %>">
						<div class="row align-items-center">
							<div class="col-10">
								<div class="row align-items-center">
										<div class="col-sm-7">
										  <h4 class="h6 mb-0"><%= publicaciones[i].publ_titulo %></h4>
									</div>
										<div class="col-sm-5">
											<span class="text-secondary">&nbsp;</span>
										</div>
								</div>
							</div>
							<div class="col-2 text-right">
								<small class="fas fa-arrow-right text-primary"></small>
							</div>
						</div>
					</a>
			<%
				}

			%>
				</div>
			  <!-- end Resultado -->
			  </div>
			</div>
		</div>
	   
	  </main>
	  <!-- ========== END MAIN CONTENT ========== -->
	  <%- include ('partials/public/_bottom'); %>

	  <script>
                $(document).on('ready', function () { 
                
                        
                        
                        $("#btnBuscar").click(
                                function() {
                                        
                                        var valor = $("#valorBuscado").val();
                                        var tipo = $("#tipoBusqueda").val();
       					if ( !valor ) { 
						alert("Debe cargar un valor para buscar");
						$("#valorBuscado").focus();
						return false;
					}                         
                                        window.location.href = "/digesto/results/"+tipo+"/"+valor;
                                        
                                }
                        );
                
                });
        </script>
</html>
